[submodule "2d_gaussian_splatting"]
	path = 2d_gaussian_splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
[submodule "3d_gaussian_splatting"]
	path = 3d_gaussian_splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
